<<<<<<< HEAD
body{ color:blue }
=======
body { color: red; }
>>>>>>> 98706604f2f12b18fa8ea9b51c6f70561bbbf62a
/* Navigation & Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}